@model IEnumerable<QuanLyTruongDaiHoc.Models.tb_GiangVien>
@using QuanLyTruongDaiHoc.Models;
@{
    ViewBag.Title = "DanhSachGiangVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

@Html.Action("NhapDanhSach", "GiangVien")
@Html.Action("ThemGiangVien", "GiangVien")

<section class="content">
    <div class="container-fluid">
        <br />
        <br />
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn btn-success me-md-2" data-toggle="modal" data-target="#modalDSGV">
                                Nhập danh sách
                            </button>
                            &nbsp;
                            <button type="button" class="btn btn btn-primary me-md-2" data-toggle="modal" data-target="#modalThemGiangVien">
                                Thêm Giảng viên
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="giangvien" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaGiangVien)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.tb_ThongTinCaNhan.Hoten)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.tb_ThongTinCaNhan.GioiTinh)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TrinhDo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.tb_Nganh.TenNganh)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ChuongTrinhGiangDay)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.tb_ThongTinCaNhan.Email_2)
                                    </th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaGiangVien)
                                        </td>
                                        <td class="col-2">
                                            @Html.DisplayFor(modelItem => item.tb_ThongTinCaNhan.Hoten)
                                        </td>
                                        <td>
                                            @Init.getStrGioiTinh(item.tb_ThongTinCaNhan.GioiTinh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrinhDo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tb_Nganh.TenNganh)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ChuongTrinhGiangDay)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tb_ThongTinCaNhan.Email_2)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Xem thông tin", "ThongTinGiangVien", new { id = item.ID }, new { @class = "btn btn-sm btn-success" })
                                            @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                                            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalXoaGiangVien-@item.ID">
                                                Xoá
                                            </button>
                                            @Html.Action("XoaGiangVien", "GiangVien", new { id = item.ID })

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>


    var table = new DataTable('#giangvien', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/vi.json',
        },
    });

</script>





<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@{if (Session["LoiXoaGV"] != null)
    {
        <script>
            var toastMixin = Swal.mixin({
                toast: true,
                icon: 'success',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
             window.onload = (event) => {
                toastMixin.fire({
                animation: true,
                title: '@Session["LoiXoaGV"]',
                icon: 'error'
                });
             }
        </script>
        Session["LoiXoaGV"] = null;
    }
    else if (Session["XoaGVThanhCong"] != null)
    {
        <script>
            var toastMixin = Swal.mixin({
                toast: true,
                icon: 'success',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });
             window.onload = (event) => {
                toastMixin.fire({
                animation: true,
                title: '@Session["XoaGVThanhCong"]',

                });
             }
        </script>
        Session["XoaGVThanhCong"] = null;
        Session["LoiXoaGV"] = null;
    }

}






@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaGiangVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrinhDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuongTrinhGiangDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_Nganh.MaNganh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_TaiKhoan.TenDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_ThongTinCaNhan.Hoten)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaGiangVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrinhDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuongTrinhGiangDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_Nganh.MaNganh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_TaiKhoan.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_ThongTinCaNhan.Hoten)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@


