
@model IEnumerable<QuanLyTruongDaiHoc.Models.tb_YeuCauGiayChungNhan>
@using QuanLyTruongDaiHoc.Models;
@{
    ViewBag.Title = "XemDanhSachYeuCau";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<section class="content">
    <div class="container-fluid">
        <br />
        <br />
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <label> Danh sách yêu cầu cấp giấy chứng nhận</label>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="giaychungnhan">
                            @{

                                int i = 1;
                                <thead>
                                    <tr>

                                        <th>STT</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tb_SinhVien.MaSinhVien)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tb_SinhVien.tb_ThongTinCaNhan.Hoten)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tb_GiayChungNhan.Ten)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ThongTinYeuCau)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NgayYeuCau)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TrangThai)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.PhanHoi)
                                        </th>

                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>@i</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_SinhVien.MaSinhVien)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_SinhVien.tb_ThongTinCaNhan.Hoten)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_GiayChungNhan.Ten)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ThongTinYeuCau)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NgayYeuCau)
                                            </td>

                                            <td>
                                                @Init.getStrTrangThai(item.TrangThai)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhanHoi)
                                            </td>
                                            <td>

                                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalXuLyDon-@item.ID">
                                                    Xử lý đơn
                                                </button>
                                                @*<button type="button" id="error" class="btn btn-danger swalDefaultError">
                                                        Launch Error Toast
                                                    </button>*@

                                                @Html.Action("XuLyDon", "GiayChungNhan", new { id = item.ID })
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-primary me-md-2" data-toggle="modal" data-target="#modalXemYeuCauDaDuyet">
                                Yêu cầu đã duyệt
                            </button>
                            @Html.Action("XemYeuCauDaDuyet", "GiayChungNhan")
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-danger me-md-2" data-toggle="modal" data-target="#modalXemYeuCauDaTuChoi">
                                Yêu cầu đã từ chối
                            </button>
                            @Html.Action("XemYeuCauTuChoi", "GiayChungNhan")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>


    var table = new DataTable('#giaychungnhan', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/vi.json',
        },
    });

</script>




