

@model IEnumerable<QuanLyTruongDaiHoc.Models.tb_KhoaHoc>

@{
    ViewBag.Title = "DanhSachKhoaHocLichThi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<section class="content">
    <div class="container-fluid">
        <br />
        <br />
        <div class="row">

            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Danh sách khoá học</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover" id="khoahoc">
                            @{

                                int i = 1;
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>
                                            @Html.DisplayName("Mã khoá học")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Tên môn học")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Mã giảng viên")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Số lịch thi")
                                        </th>
                                        <th>
                                            Chức năng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var soLich = item.tb_ThongTinNgayThi.Count();
                                        <tr>
                                            <td>@i</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaKhoaHoc)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_Monhoc.TenMonHoc)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_GiangVien.MaGiangVien)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => soLich)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Xem lịch thi", "XemLichThi", "QuanLyLichThi", new { id = item.ID }, new { @class = "btn btn-sm btn-success" })
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
    var table = new DataTable('#khoahoc', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/vi.json',
        },
    });

</script>


