@model IEnumerable<QuanLyTruongDaiHoc.Models.tb_DangKyMonHoc>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />



<table id="danhsachSinhVienKhoaHoc" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tb_SinhVien.MaSinhVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_SinhVien.tb_ThongTinCaNhan.Hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_SinhVien.tb_ThongTinCaNhan.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_SinhVien.tb_LopHoc.MaLopHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_SinhVien.tb_Nganh.TenNganh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diemKTDK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diemKTHP)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_SinhVien.MaSinhVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_SinhVien.tb_ThongTinCaNhan.Hoten)
                </td>
                <td>
                    @item.tb_SinhVien.tb_ThongTinCaNhan.NgaySinh.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_SinhVien.tb_LopHoc.MaLopHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tb_SinhVien.tb_Nganh.TenNganh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diemKTDK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diemKTHP)
                </td>
            </tr>
        }
    </tbody>


</table>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>


    var table = new DataTable('#danhsachSinhVienKhoaHoc', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/vi.json',
        },
    });

</script>



